<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/main.css}">
  <title>Customer Manager</title>
</head>
<body>
<div>
  <h1 style="text-align: center;">Customer List</h1>
  <br/><br/>
  <div>
    <a style="display: flex; justify-content: center;" th:href="@{new}">Add New Customer</a>
  </div>
  <br/>
  <table class="table" border="1" cellpadding="10">
    <thead>
    <tr>
      <th class="th">Customer ID</th>
      <th class="th">Full Name</th>
      <th class="th">Email Address</th>
      <th class="th">Age</th>
      <th class="th">Address</th>
      <th class="th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="customer : ${customerList}">
      <td class="td" th:text="${customer.id}">Customer ID</td>
      <td class="td" th:text="${customer.fullName}">Full Name</td>
      <td class="td" th:text="${customer.emailAddress}">Email Address</td>
      <td class="td" th:text="${customer.age}">Age</td>
      <td class="td" th:text="${customer.address}">Address</td>
      <td class="td"><!-- actions -->
        <a th:href="@{'/edit/' + ${customer.id}}">Edit</a>
        <a th:href="@{'/delete/' + ${customer.id}}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>